<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testXCod.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65B489DF1C83C18D0035672A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B489F31C83C18D0035672A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65B489FE1C83C18D0035672A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
